body{
    background-image: linear-gradient(darkblue, rgb(67, 67, 219));
    font-family: 'Noto Sans', sans-serif;
    }

.container1{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    color: rgba(250, 247, 247, 0.979);
    background-color: rgba(0, 0, 255, 0);
    font-size: 24pt;
    font-family: 'Noto Sans', sans-serif;;
    height: 180px;
    width: auto;
    box-sizing: border-box;    
    margin-bottom: 7%;
}
.input_botao{
    display: grid;
    flex-direction: row;
}

.input_botao > input {
    margin-top: 2px;
    
}

.banner {
    background-color: #ffffff00;
    background-size: cover;
    height: auto;
    width: auto;
    text-align: center;}

img {transform: translate(0px); animation: float 5s ease-in-out; }
@keyframes float{
0% {transform: translatex(-1700px);}
100% {transform: translatex(0px);}
}

.rodape {background-color: rgba(146, 4, 4, 0);
text-align: end;}

#menu-reg{
    text-align: left;     
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box}

    .menu-reg ul{
        max-width: 800px;
        list-style: none;
        padding: 0;
        }
        
        #menu-reg li{
        display: inline;
        }
        
        #menu-reg ul li a{
        color: #fff;
        padding: 20px;
        display: inline-block;
        text-decoration: none;
        transition: background .4s;
        font-size: 24pt;
        }
        
        #menu-reg ul li a:hover {
        background-color: rgb(53, 197, 190);
        }


#menu-h{
    text-align: left;     
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    margin-left: 12%    
    }
    
    .menu-h ul{
    max-width: 800px;
    list-style: none;
    padding: 0;
    }

    #menu-h li{
    display: inline;
    }

    #menu-h ul li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    font-size: 24pt;
    }

    #menu-h ul li a:hover {
    background-color: rgb(53, 197, 190);
    }
#inputUser {font-size: 20pt; width: 200pt; text-align: center;}
#submitUser {font-size: 20pt; border-radius: 20pt; background-color: rgb(8, 7, 49); color: white; cursor: pointer; margin-top: 15px;}

footer {text-align: center; font-size: small; color: white; font-family: Arial;}

.form {background-color: black;
    align-content: center;
        ;
}

header {
background: linear-gradient(to bottom, #0a012e, #030463);
box-shadow: 0 8px 6px -2px #000;
color: white;}
