.table tr th { background-color: rgb(8, 4, 73); width: 200px; text-align: center; color: white; font-size: 18pt; }
.m-5 {background-color: rgb(3, 12, 87); max-width: 400pt; color: white}
body  {background-image: linear-gradient(darkblue, rgb(67, 67, 219)); color: white; text-align: center; height: auto;}
.tabela_titulo{display: flex; flex-direction: column; align-items: center; justify-content: center; }
.planilha {color:white; background-color: rgb(12, 25, 82)}


#menu-reg{text-align: left;     
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
background-color: rgb(3, 12, 87);}

.menu-reg ul{
    max-width: 800px;
    list-style: none;
    padding: 0;
    }
    
    #menu-reg li{
    display: inline;
    }
    
    #menu-reg ul li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    font-size: 20pt;
    }
    
    #menu-reg ul li a:hover {
    background-color: rgb(53, 197, 190);
    }

    header {
        background: linear-gradient(to bottom, #0a012e, #030463);
        box-shadow: 0 8px 6px -2px #000;
        color: white;}